<form class="form-inline form-horizontal" name="myf">
	<fieldset>
		<legend>添加作业</legend>

		<div class="control-group">
			<label class="control-label" >作业名称</label>
			<div class="controls">
				<input id="jobName" name="jobName" type="text" ng-model="job.jobName" /> <span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" >作业分组</label>
			<div class="controls">
				<input id="jobGroup" name="jobGrop"  type="text" ng-model="job.jobGroup" /> <span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" >触发器名称</label>
			<div class="controls">
				<input id="triggerName" name="triggerName"  type="text" ng-model="job.triggerName" /> <span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" >触发器分组</label>
			<div class="controls">
				<input id="triggerGroup" name="triggerGroup"  type="text" ng-model="job.triggerGroup" /> <span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" >状态</label>
			<div class="controls">
				<select ng-model="job.status"><option value="-1">暂停</option><option value="1">激活</option></select> <span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">cronExpression</label>
			<div class="controls">
				<input id="cronExpression" name="cronExpression"  type="text" ng-model="job.cronExpression" /> <span class="help-inline"></span>
				<br />
				<div><a id="help"  class="btn">help</a></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">类全路径</label>
			<div class="controls">
				<input id="clazz" name="clazz"  type="text" ng-model="job.clazz" /> <span class="help-inline"></span>
					
			</div>
		</div>
		
		
		<div class="control-group">
			<label class="control-label" >作业源码</label>
			<div class="controls">
				<textarea id="src" name="src" ng-model="job.src"></textarea><span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-success" id="insert">submit</button>
			</div>
		</div>

	</fieldset>
</form>
<script type="text/javascript">
		Validate.bind(document.forms[0]);
		$("#help").click(function(){
			$("#myModal").modal({show:true});
		});
		$("#help").click(function(){
			window.open('template/cronhelp/crontab.html')
		})
</script>
<script src="../../js/modules/quartz/controller/validate.js"></script>

